<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous"
    >
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&amp;display=swa"
    >
    <link href="navbar-top-fixed.css" rel="stylesheet">
</head>
<body>
<header th:insert="blocks/navbar :: navbar"></header>


<main class="container">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Обработка изображения</h1>
            </div>
        </div>
    </section>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 th:text="${picture.creator.name}" class="mb-0"></h3>
                    <div th:text="${picture.creationDate}" class="mb-1 text-muted"></div>
<!--                    info?-->
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img th:src="${picture.creator.path} + ${picture.url}">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <form method="post" th:action="${#httpServletRequest.requestURI}" class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Редактирование</h3>
                    <div class="mb-1 text-muted">BasicUtil</div>
                    <input name="coefficient" type="range" min="0" max="100" step="1" value="0">
                    <p>
                        <button type="submit" class="btn btn-primary my-2">Применить</button>
                        <a href="#" class="btn btn-secondary my-2">Сохранить</a>
                    </p>
                </form>
                <div class="col-auto d-none d-lg-block">
                    <img th:src="${buffer.creator.path} + ${buffer.url}">
                </div>
            </div>
        </div>
    </div>

</main>
</body>
</html>